* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}


.technologies-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
    position: relative;

}

.technologies-links:after {
    background-color: #1d3763;
    bottom: 200px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 140px;
    z-index: -1;
}

.technologies-title {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1.5rem;
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
    line-height: 1.25;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
}

.technology-link-item {

    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.technology-link-item:after {
    background-color: #f9ba48;
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform .3s;
    width: 120px;
    z-index: -1;
}

.even:after {
    transform: translateY(-20px);
}

.odd:after {
    transform: translateY(20px);
}

.technology-link-item:hover::after {
    transform: translateY(0px);
}


.item-imageContainer {
    height: 280px;
    width: 280px;
    overflow: hidden;


}

.item-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition-duration: 0.5s;


}

.technology-link-item:hover .item-image {
    transform: scale(1.1, 1.1);
}

.item_title {
    color: #fff;
    font-size: 14px;
    left: 20%;
    letter-spacing: 1.8px;
    line-height: 1.14;
    margin: 0;
    position: absolute;
    right: 20%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 50%;
    z-index: 2;


}

.item-image-shade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    filter: alpha(opacity=50);
    background: #1d3763;
    z-index: 1;
    transition: all .5s ease;
}

.technology-link-item:hover .item-image-shade {
    opacity: .8;
}

@media (max-width: 1024px) {
    .item-imageContainer {
        height: 280px;
        width: 215px;
    }
}

@media (max-width: 768px) {
    .item-imageContainer {
        height: 280px;
        width: 320px;
    }
}