* {
    box-sizing: border-box;
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

.technologies__title {
    padding-top: 1.25rem;
    padding-left: 3.125rem;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
}

.technologies__links {
    display: flex;
    flex-wrap: wrap;
    padding: 1.875rem;
    justify-content: center;
    position: relative;
}

.technologies__links:after {
    background-color: #1d3763;
    content: "";
    bottom: 200px;
    left: 0;
    right: 0;
    top: 140px;
    position: absolute;
}

.technologies__links--item {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-bottom: 3.2rem;
    position: relative;
    z-index: 1;
}

.technologies__links--item:after {
    background-color: #f9ba48;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 7.5rem;
    transition: transform .3s;
    margin: auto;
    position: absolute;
    z-index: -1;
}

.item--even:after {
    transform: translateY(-20px);
}

.item--odd:after {
    transform: translateY(20px);
}

.technologies__links--item:hover::after {
    transform: translateY(0px);
}

.item__tech {
    overflow: hidden;
}

.item__tech--logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem;
    transition: all .5s ease;
    position: relative;
}

.item__tech--logo::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background: #1d3763;
}

.technologies__links--item:hover .item__tech--logo {
    transform: scale(1.1, 1.1);
}

.item__tech--name {
    color: #fff;
    font-size: 0.75rem;
    left: 20%;
    letter-spacing: 1.8px;
    position: absolute;
    right: 20%;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    z-index: 1;
}

.technologies__links--item:hover .item__tech--logo::after {
    opacity: .8;
}
@media only screen and (max-width: 768px) {
    
    .item--resizer{
        width: 100%;
    }
       
}
@media only screen and (min-width: 768px) {
    
    .item--resizer{
        width: 50%;
    }
       
}
@media only screen and (min-width: 992px) {
    
    .item--resizer{
        width: 25%;
    }
       
}
@media only screen and (min-width: 1200px) {
    
    .item--resizer{
        width: 25%;
    }
       
}


   

