* {
    box-sizing: border-box;
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

.technologies__title {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 1.3rem;
    line-height: 1.25;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
}
.technologies__links {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    position: relative;
}

.technologies__links:after {
    background-color: #1d3763;
    content: "";
    bottom: 200px;
    left: 0;
    right: 0;
    top: 140px;
    position: absolute;
}



.technologies__links--item {
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.technologies__links--item:after {
    background-color: #f9ba48;
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    width: 120px;
    transition: transform .3s;
    margin: auto;
    position: absolute;
    z-index: -1;
}

.item--even:after {
    transform: translateY(-20px);
}

.item--odd:after {
    transform: translateY(20px);
}

.technologies__links--item:hover::after {
    transform: translateY(0px);
}


.item__tech {
    height: 250px;
    width: 260px;
    overflow: hidden;
}

.item__tech--logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: all .5s ease;
}

.item__tech--logo::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    filter: alpha(opacity=50);
    background: #1d3763;
}


.technologies__links--item:hover .item__tech--logo {
    transform: scale(1.1, 1.1);
}

.item__tech--name {
    color: #fff;
    font-size: 12px;
    left: 20%;
    letter-spacing: 1.8px;
    
    margin: 0;
    position: absolute;
    right: 20%;
    text-align: center;
    
    text-transform: uppercase;
    top: 50%;
    z-index: 1;

}



.technologies__links--item:hover .item__tech--logo::after {
    opacity: .8;
}

@media (max-width: 1024px) {
    .item-imageContainer {
        height: 280px;
        width: 215px;
    }
}

@media (max-width: 768px) {
    .item-imageContainer {
        height: 280px;
        width: 320px;
    }
}